<!DOCTYPE HTML>
<html>
<head>
    <title>SpringBoot Web Service</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
    <h1>Welcome to SpringBoot Web Service!</h1>
</body>
</html>