/jeus-echo/target/
/jeus-echo/nb-configuration.xml
jeus-todo/build/
jeus-todo/gradle/
jeus-todo/.gradle/*
jeus-todo/.idea/*
jeus-todo/.idea/compiler.xml
jeus-todo/.idea/gradle.xml
jeus-todo/.idea/jarRepositories.xml
jeus-todo/.idea/misc.xml
jeus-todo/.idea/runConfigurations.xml
jeus-todo/.idea/vcs.xml
